vendor/
.idea/
.concepts/
.local-scripts/

*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

go.work

# Monitoring sensitive data
monitoring/results/*.json
monitoring/monitoring-results.log
monitoring/results/repo_search.json
